<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<div id="products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <%= render partial: "product", locals: { product: product, action_name: 'index' } %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New product", new_product_path %>
