<p style="color: green"><%= notice %></p>

<div class="row justify-content-center">
  <div class="col-md-8">
    <%= render partial: "product", locals: { product: @product, action_name: 'show' } %>
  </div>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-md-8 d-flex justify-content-center">
    <%= link_to "Edit this product", edit_product_path(@product), class: 'btn btn-outline-dark text-decoration-none m-2' %>
    <%= button_to "Destroy this product", @product, method: :delete, class: 'btn btn-outline-red text-decoration-none m-2' %>
  </div>
</div>
